@use 'base';

.structureContainer {
  @extend %partContainer;
  color: orange;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

// **************************************

.accordion {
  width: 80%;
  min-height: 40px;
  @include base.border(rgb(0, 85, 255), 5px)
}

.panel {
  width: 100%;
  min-height: 40px;
  @include base.border(orange, 5px)
  
}

.accButton {
  @include base.baseButton (100px, 20px, green, 5px);
  background:base.$light-gray;
  color: white;
}