@use 'base';

%container {
  width: 90%;
  min-height:600px;
  margin: 0 auto;
}


.mainContainer {
  @extend %container;
  border:2px solid red;
  color: red;
  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  grid-template-rows: 300px;
  grid-gap: 20px;

}

