@use 'base';

.structureContainer {
  @extend %partContainer;
  color: orange;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

// **************************************

.pointer {
  position: 'relative';
  width: 100%;
  height: 30%;
  border: 2px solid blue;
}

.lightcoral {
color: red;
}

.midnghtblue {
  color: blue;
}

.rebeccapurple {
  color: purple;
}

.timeSelect {
  width: 50%;
  height: 25px;
  margin:0 auto;
}