@use 'base';



.handlerContainer {
@extend %partContainer;
color:green;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items:center;
 }

.handlerButton {
  @include base.baseButton(200px, 20px, red,5px);
  margin:5px auto;
  background-color:base.$light-gray;

}

.toolBar {
  @include base.baseButton(100%, 40px,blue, 5px);
    margin: 10px auto;
    color: orange;
    display: flex;
    background-color:aqua;
}

 