@use 'base';

.mainThemeContainer {
  @extend %partContainer;
  color: orange;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

// **************************************

.themeContainer {
  width: 100%;
    height: 100%;
    border: 1px solid orange;
    box-shadow: 10px 5px 20px 2px gray;
}

.light {
  width: 100%;
  height: 200px;
  // color: black;
  // background-color: white;
  @include base.border(blue, 10px);
}

.themel {
  width: 100%;
    height: 200px;
    // color: black;
    // background-color: white;
    @include base.border(blue, 10px);
  }

.dark {
  width: 90%;
  height: 100px;
  // color: white;
  // background-color: black;
  @include base.border(red, 10px);
}

.toolBar {
  width: 50px;
  height: 50px;
  border: 1px solid green;
}