$body-bg: #f8f7fc;
$body-color: #18253d;
$white: #fff;
$main-blue: #001935;
$secondary-blue: #3c88fd;
$freedom-blue: #02b8ff;
$dark-gray: #4a4a4a;
$light-gray: #a7aaaf;

%testBorder {
  border: 1px solid red;
}

@mixin border($color,$radius) {
  border-width: 1px;
  border-style: solid;
  border-color: $color;
  border-radius: $radius;
}

%container {
  width: 80%;
  min-height: auto;
}

%partContainer {
  width: 100%;
  height: 100%;
  @include border($light-gray, 5px);
  box-shadow:10px 5px 20px 2px $dark-gray;
}

@mixin baseButton ($width, $height, $color,$radius) {
  width: $width;
  height: $height;
  cursor: pointer;
  @include border($color, $radius)
}
 